{% if links %}

<!DOCTYPE>
<html>
  <head>
    <title>SMILE attendance</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div>
      <h1><a href>SMILE Attendance Reminder</a></h1>
        <table>
	         <tr>
		           <td><a href="/timeline/">Home</a> </td>
		           <td><a href="/timeline/">Base</a></td>
		           <td><a href="/timeline">Index</a></td>
	         </tr>
        </table>
    </div>
  </body>
</html>

{% endif %}
