{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid"> 
  <div class="container">
{% if user.is_authenticated %}
    <h1 class="display-4">Hello <b>{{ user.username }}</b>!</h1>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">What would you like to do?</p>
    <br>
    <a class="btn btn-primary btn-lg" href="{% url 'list' %}">View my events</a>
    <a class="btn btn-primary btn-lg" href="{% url 'event_add' %}">Create new event</a>
      <a class="btn btn-danger btn-lg" href="{% url 'logout' %}">Logout</a>
  </div>
</div>
{% else %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to the awesome SMILE Event Checker</h1>
      <p class="lead">This is a tool that will help you keep track of all of your attendencies, participations and other visits to various events all over the world.</p>
      <a class="btn btn-primary btn-lg" href="{% url 'login' %}">Login</a>
    </div>
  </div>

{% endif %}

{% endblock %}
