{% extends 'base.html' %}

  {% block content %}
  <div class="container">
  <table>
    <tr>
      <td>Title</td>
      <td>Event type</td>
      <td>Start Date</td>
      <td>End Date</td>
      <td>Event description</td>
    </tr>

  {% for event in object_list %}

    <h2> <a href="{% url 'view_event' event.pk %}">{{ event.title }}</a></h2>

      <tr>
        <td>{{ event.title }}</td>
        <td>{{ event.type_of_event }}</td>
        <td>{{ event.date }}</td>
        <td>{{ event.end_date }}</td>
        <td>{{ event.description}}</td>
      </tr>

  {% endfor %}

    </table>
  </div>

{% endblock %}
