{% extends 'base.html' %}

{% block actions %}
<div class="container">
  <p>
  <a href="{% url 'event_edit' event.pk %}">Edit</a> | <a href="{% url 'event_delete' event.pk %}">Delete</a>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="card">
  <h5 class="card-header">Title</h5>
  <div class="card-body">{{ event.title }}</div>
  <h5 class="card-header">Event Type</h5>
  <div class="card-body">{{ event.type_of_event }}</div>
  <h5 class="card-header">Start Date</h5>
  <div class="card-body">{{ event.date }}</div>
  <h5 class="card-header">End Date</h5>
  <div class="card-body">{{ event.end_date }}</div>
  <h5 class="card-header">Description</h5>
  <div class="card-body">{{ event.description }}</div>

</div>

{% for activity in event.activities.all %}
  <p>
    <div class="font-weight-bold">{{ activity.title }}</div>
    {{ activity.type }}
  </p>
{% endfor %}
<br/>

{% endblock %}
