{% extends 'base.html' %}

{% block actions %}
<div class="container">
  <p>
    <a type="button" class="btn btn-primary" href="{% url 'event_edit' event.pk %}">Edit</a> <a type="button" class="btn btn-danger" href="{% url 'event_delete' event.pk %}">Delete</a>
    <a type="button" class="btn btn-success" href="{% url 'list' %}">All good</a>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="card">
  <h6 class="card-header"><b>Title</b></h6>
  <div class="card-body">{{ event.title }}</div>
  <h6 class="card-header"><b>Type</b></h6>
  <div class="card-body">{{ event.type_of_event }}</div>
  <h6 class="card-header"><b>Start</b></h6>
  <div class="card-body">{{ event.date|date:"d/m/y" }}</div>
  <h6 class="card-header"><b>End</b></h6>
  <div class="card-body">{{ event.end_date|date:"d/m/y" }}</div>
  <h6 class="card-header"><b>Role</b></h6>
  <div class="card-body">{{ event.type }}</div>
  <h6 class="card-header"><b>Department</b></h6>
  <div class="card-body">{{ event.department }}</div>
  <h6 class="card-header"><b>Country</b></h6>
  <div class="card-body">{{ event.country }}</div>
  <h6 class="card-header"><b>Duration</b></h6>
  <div class="card-body">{{ event.duration }}</div>
  <h6 class="card-header"><b>Description</b></h6>
  <div class="card-body">{{ event.description }}</div>
</div>

{% endblock %}


<button !</button>
