{% if query_results %}
<table>
	<tr>
		<td> <a href="/timeline/"> Home </a> </td>
		<td><a href=""> Add activity </a> </td>
		<td><a href="">Logout </a>  </td>
	</tr>	
</table>
<br /> 
<table>
	<tr>
		<td>Title</td>
		<td>Type of event</td>
		<td>Date</td>
		<td>Enddate</td>
		<td>Description</td>
	</tr>	

	{% for event in query_results %}
	<tr>
		<td>{{ event.title }}</td>
		<td>{{ event.type_of_event }}</td>
		<td>{{ event.date }}</td>
		<td>{{ event.end_date }}</td>
		<td>{{ event.description }}</td>
	</tr>
	{% endfor %}
</table>

{% else %}
	<p>No info found</p>

{% endif %}
